<% layout('/layouts/boilerplate') -%>

    <h2>Create notes</h2>
    <form action="/notes" method="post">
        <input type="text" placeholder="title" name="title">
        <br><br>
        <textarea placeholder="take notes" name="notes" id="notes" cols="150" rows="30"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>