<% layout('/layouts/boilerplate') -%>

    <h2 class="mt-5">Edit notes</h2>
    <form action="/notes/<%=allNotes._id%>?_method=PUT" method="post">
        <input type="text" placeholder="title" name="title" value="<%=allNotes.title%>" class="form-control">
        <br>
        <textarea placeholder="take notes" name="notes" id="notes" cols="150" rows="15" class="form-control"><%=allNotes.content%></textarea>
        <br>
        <button class="btn btn-dark">Edit</button>
    </form>
</body>
</html>